body {
    height: 500px;
    background: url(../pages/world-map.svg) no-repeat 50% 50%;
    background-color: #1E1D1E;
}

.world-clock {
    width: 500px;
    padding-left: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #5193ad;
    font-size: 60px;
    letter-spacing: 5px;
}