body {
    background: url(../pages/world-map.svg) no-repeat 50% 50%;
    background-color: #1E1D1E;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrapper {
    position: absolute;
    transform: translateX(-50%) translateY(-10%);
    left: 50%;
}

.map-object {
    display: block;
    margin: 0 auto;
}

.a11y {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}

.header {
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #CCCCCC;
    text-align: center;
    margin: 30px auto;
    color: #181818;
    width: 490px;
    padding: 20px;
    border-radius: 10px;
}

.login-form {
    width: 450px;
    margin: 40px auto;
    background-color: #CCCCCC;
    text-align: center;
    color: #181818;
    padding: 40px;
    border-radius: 10px;
}

.login-title,
.user-id-input,
.user-password-input,
.btn-login,
.btn-sign-up {
    background-color: rgba(100, 100, 100, 0.2);
    padding:15px;
    border-radius: 5px;
}

.login-title {
    font-size: 1.5rem;
    font-weight: 700;
    width: 40%;
}

.user-id-input {
    border: none;
    margin: 20px 0;
    width: 80%;
    font-size: 1rem;
    padding-left: 40px;
}

.user-id,
.user-password {
    position: relative;
}

.fa-passport {
    position: absolute;
    left: 25px;
    top: 28px;
    opacity: 1;
}

#userIdError {
    position: absolute;
    opacity: 0;
    left: 30px;
    top: 60px;
}

.user-id-input:focus,
.user-password-input:focus,
.btn-login:focus,
.btn-sign-up:focus {
    outline: none;
    box-shadow: 0 0 0 2px gray;
}

.user-password-input {
    border: none;
    margin-bottom: 40px;
    width: 80%;
    font-size: 1rem;
    padding-left: 40px;
}

.fa-lock {
    position: absolute;
    left: 25px;
    top: 7px;
}

#userPasswordError,
#invalidError {
    position: absolute;
    opacity: 0;
    left: 30px;
    top: 40px;
}

.user-id-input::placeholder,
.user-password-input::placeholder {
    color: black;
    font-weight: 700;
}

.error-message {
    display: inline-block;
    color: rgba(255, 0, 0, 0.6);
    font-size: 0.7rem;
}

.form-buttons {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.btn-login {
    border: none;
    width: 45%;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.btn-sign-up {
    border: none;
    width: 45%;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}