body {
  background: #1e1d1e;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-object {
  display: block;
  margin: 0 auto;
}

.search-form {
  position: absolute;
  top : 20px;
  right: 40px;
}