body {
  background: #1e1d1e;
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-object {
  display: block;
  margin: 0 auto;
}

.search-form {
  position: absolute;
  top: 20px;
  right: 8%;
}

.back-btn {
  display: none;
  background: transparent;
  border: none;
  color: #ccc;

  position: absolute;
  top: 20px;
  left: 8%;

  cursor: pointer;
}

.back-btn>span {
  font-size: 26px;
  font-weight: 700;
}

/* dropdown menu */
.custom-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-select-wrapper {
  position: absolute;
  top: 20px;
  right: 8%;

  user-select: none;

  display: flex;
}

.custom-select {
  position: relative;

  width: 200px;

  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #ccc;

  display: flex;
  flex-direction: column;
}

.custom-select-trigger {
  position: relative;

  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #ccc;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ccc;
  vertical-align: middle;
}

.custom-select-trigger:focus {
  outline: none;
  box-shadow: 0 0 10px #394a6d;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;

  border: 2px solid #394a6d;
  border-top: 0;

  background: #ccc;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;

  font-size: 22px;
  font-weight: 700;

  color: #181818;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: #ccc;
}

.arrow::after {
  left: 5px;
  transform: rotate(45deg);
  background-color: #ccc;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(-45deg);
}

.custom-select-btn {
  background: transparent;
  border: 0;

  color: #ccc;
  cursor: pointer;
}