@font-face {
  font-family: 'orbitron';
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

body {
  font-family: 'orbitron';
}

/* test */
.whiteout,
.login-wrapper {
  /* display: none !important; */
}

/* common */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.main {
  background: #1d1e1d;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px red !important;
}

.whiteout {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

/* login-wrapper */
.login-wrapper {
  position: absolute;
  z-index: 1;
}

.login-header {
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px #181818;
  opacity: 0.9;

  width: 490px;
  padding: 20px;

  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  color: #181818;
}

.login-form {
  background: #ccc;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px #181818;
  opacity: 0.9;

  margin: 40px 0;

  text-align: center;
  color: #181818;
  padding: 40px;
}

.login-form-common {
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #181818;

  padding: 15px;

  font-family: "orbitron";
}

.login-form-title {
  width: 40%;

  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 15px 40px;
}

.user-id-wrapper,
.user-pw-wrapper {
  position: relative;
}

.user-id-input {
  border: none;
  width: 80%;

  margin: 20px 0;
  padding-left: 40px;
  ;

  font-size: 1rem;
}

.fa-passport {
  position: absolute;
  left: 25px;
  top: 28px;
}

.user-pw-input {
  border: none;
  width: 80%;

  padding-left: 40px;
  margin-bottom: 40px;

  font-size: 1rem;
}

.fa-lock {
  position: absolute;
  left: 25px;
  top: 7px;
}

.user-id-input::placeholder,
.user-pw-input::placeholder {
  color: #181818;
  font-weight: 700;
}

#userIdError {
  position: absolute;
  left: 27px;
  top: 75px;

  opacity: 0;
}

#userPasswordError,
#invalidError {
  position: absolute;
  left: 27px;
  top: 55px;

  opacity: 0;
}

.error-message {
  display: inline-block;

  color: rgb(255, 0, 0);
  font-size: 0.7rem;
}

.login-form-btns {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 85%;
}

.form-btn {
  border: none;
  width: 45%;

  font-weight: 700;
  font-size: 1rem;

  cursor: pointer;
}

/* map-wrapper */
.map-wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn {
  background: transparent;
  border: none;
  opacity: 0;

  position: absolute;
  top: 20px;
  left: 8%;

  color: #ccc;
}

.fa-arrow-left {
  vertical-align: middle;
}

.back-btn>span {
  font-size: 1.2rem;
  vertical-align: middle;
}

/* dropdown menu */
.custom-select-wrapper {
  position: absolute;
  top: 20px;
  right: 8%;

  user-select: none;

  display: flex;
  transition: '1s';
  opacity: 1;
}

.custom-select {
  position: relative;

  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #ccc;

  width: 200px;

  display: flex;
  flex-direction: column;
}

.custom-select-trigger {
  position: relative;

  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #ccc;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 20px;

  font-size: 20px;
  font-weight: 700;
  color: #ccc;
  vertical-align: middle;
}

.custom-select-trigger:focus {
  box-shadow: 0 0 10px #394a6d;
}

.custom-options {
  background: #ccc;
  border: 2px solid #394a6d;
  border-top: 0;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;

  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 5px 22px;

  font-size: 22px;
  font-weight: 700;

  color: #181818;
  cursor: pointer;
  transition: all 0.5s;
}

.cusom-option:hover {
  background-color: #b2b2b2;
}

.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: #ccc;
}

.arrow::after {
  left: 5px;
  transform: rotate(45deg);
  background-color: #ccc;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(-45deg);
}

.custom-select-btn {
  background: transparent;
  border: 0;

  color: #ccc;
  cursor: pointer;
}